<% provide(:title, 'Log In') %>

<h1 class="title">Log In</h1>

<div class= "jumbotron">
    <%= bootstrap_form_for(:session, url: login_path) do |f| %>            
        <%= f.email_field :email %>        
        <%= f.password_field :password %>        
        <%= f.check_box :remember_me %>
        <%= f.submit 'Log In', class: 'expanded button' %>
    <% end %>
    <p>New User? <%= link_to 'Sign Up Now!', signup_path %></p>
  </div>
