<% if @task.errors.any? %>
<h4> Siao Liao, Jia Lat, SumTing Long</h4>
 <ul>
  <% @task.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
  <%end%>
</ul>
<%end%>

	<%= bootstrap_form_for(@task, url: (@task.new_record? ? tasks_path : task_path(@task))) do |f| %>
        <%= f.text_field :content %>
        <%= f.text_field :state %> Choose State: to_do, doing, done
        <%= f.file_field :image %>
        <%= f.submit 'Save' %>
    <% end %>
