<%= provide(:title, 'Edit') %>

      <div class = "row">
        <div class ="small-10 small-centered medium-4 medium-centered columns">
          <h2 id= "sign_up" > Edit </h2>
          <%= form_for (@user) do |f| %>

            <%= f.label :first_name %>
            <%= f.text_field :first_name %>

            <%= f.label :last_name %>
            <%= f.text_field :last_name %>

            <%= f.label :email %>
            <%= f.email_field :email %>

            <%= f.label :password %>
            <%= f.password_field :password %>

            <%= f.label :password_confirmation, 'Please confirm password' %>
            <%= f.password_field :password_confirmation %>

            <%= f.submit 'Update Account', class: "expanded button" %>

            <%= link_to 'Login', login_path %>
            <%= link_to 'Home' , new_user_path %>
          <%end%>
        </div>
      </div>
