<%= provide(:title, 'Sign Up') %>

      <div class="jumbotron">

          <h2 id= "sign_up" > Sign Up </h2>
          <%= form_for (@user) do |f| %>
            <ul>
            <li><%= f.label :first_name %></li>
            <li><%= f.text_field :first_name %></li>

            <li><%= f.label :last_name %></li>
            <li><%= f.text_field :last_name %></li>

            <li><%= f.label :email %></li>
            <li><%= f.email_field :email %></li>

            <li><%= f.label :password %></li>
            <li><%= f.password_field :password %></li>

            <li><%= f.label :password_confirmation, 'Please confirm password' %></li>
            <li><%= f.password_field :password_confirmation %></li>

            <li><%= f.submit 'Create Account', class: "expanded button" %></li>

            <li><%= link_to 'Login', login_path %></li>
          <%end%>
        </ul>
          </div>
        </div>
