<%= provide(:title, 'Sign Up') %>

      <div class="jumbotron">

          <h2 id= "sign_up" > Sign Up </h2>
          <%= simple_form_for (@user) do |f| %>

            <%= f.label :first_name %>
            <%= f.text_field :first_name %>

            <%= f.label :last_name %>
            <%= f.text_field :last_name %>

            <%= f.label :email %>
            <%= f.email_field :email %>

            <%= f.label :password %>
            <%= f.password_field :password %>

            <%= f.label :password_confirmation, 'Please confirm password' %>
            <%= f.password_field :password_confirmation %>

            <%= f.submit 'Create Account', class: "expanded button" %></li>

            <%= link_to 'Login', login_path %></li>
          <%end%>

          </div>
        </div>
